.formAdd {
  background-color: antiquewhite;
  height: 800px;
}

.forumTheadsAll {
  background-color: antiquewhite;
  height: 800px;
}

.categoriesSelected {
  background-color: antiquewhite;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
}

.forumTheadsContainer{
  width: 50%;
  margin: auto;
}

.update-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-self: center;
}

.update-form div {
  margin: 3px 0;
}

.update-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-style: dotted;
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.main-container p {
  align-self: center;
  max-width: 150px;
  min-width: 100px;
  flex-wrap: wrap;
}

.crud-button {
  border-style: none;
  border-radius: 100px;
  height: 35px;
  padding: 0 10px 0;
  color: black;
  width: 50px;
}

.edit-button {
  background-color: rgb(230, 192, 42);
}


.crud-button:hover {
  background-color: rgb(61, 61, 61);
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: rgb(185, 36, 36);
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}