.main-container {
  padding: 0 20px 20px;
}

.add-student-btn {
  background-color: rgb(94, 94, 207);
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 6px;
  border-style: none;
}

.add-student-btn:hover {
  background-color: rgb(10, 10, 90);
  cursor: pointer;
}