body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  background-color: antiquewhite;
  height: 800px;
}



.crud-button {
  border-style: none;
  border-radius: 100px;
  height: 35px;
  padding: 0 10px 0;
  color: black;
  width: 50px;
}

.edit-button {
  background-color: rgb(230, 192, 42);
}


.crud-button:hover {
  background-color: rgb(61, 61, 61);
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: rgb(185, 36, 36);
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
